# Cache
.cache

# Compiled shaders
*.spv

# Baked assets
*.tx
*.mesh

# Generated stuff
output.log
imgui.ini
*.blend1

# ImGui bindings, get installed with Conan
/src/bindings

# MacOS
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
